<div><h1><span class="label label-default">Подтверждение оплаты</span></h1></div>
<% if @items.length == 0 %>
	<div class="no-item">
		<div class="text-center">
			<h2><small>Нет товаров в корзине :(</small></h2>
		</div>
	</div>	
<% else %>
	<div class="checkout-list">
		<div class="text-center">
		<ul class="list-group">
			
			<% @items.each do |i| %>
	  			<li class="list-group-item">
	  				<ul class="list-inline">

		  				<li><span class="label label-default">Модель - <%=i.instance_variable_get(:@product_name)%></span> </li>
		  				<li><span class="label label-default">Цена - <%=i.instance_variable_get(:@product_price)%> руб.</span></li>
		  				

		  				<li><span><%= button_to 'Удалить', {:controller => "checkout", :action => "destroyfinal",  :id => i.id, :user_id=> current_user} , :method=>:delete , :class=>"btn btn-xs btn-danger" %></span></li>

	  				</ul>
	  			</li>
		  	<% end %>
		</ul>
			<div>
			<h2><span class="label label-primary">Общая сумма = <%= @sum %></span></h2>
		</div>
			<div class="ship-button">
				<a href="<%=store_address_url%>">
					<button type="button" class="btn btn-default">Забреру сам</button>
				</a>
				<a href="<%=shipping_url%>">
					<button type="button" class="btn btn-default" >Заказать доставку</button>
				</a>
			</div>
		</div>
	</div>
<% end %>