<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          
          <div class="nav-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to "Home", root_url%></li>
            </ul>
            <ul class="nav navbar-nav">
              
              <% if @loggedin %>
              
              <% else %>
                <% if !signed_in? %>
                  <li><%= link_to "Sign Up", new_user_path %></li>
                  <li><%= link_to "Sign In", signin_path %></li>
                <% else %>
                  <li><%= link_to  current_user.name, profile_path %></li>
                  <li>
                    <%= link_to "My Cart", mycart_path %>
                  </li>
                  <li><span class="badge"><%= Cart.where(:uid=>current_user.id).length %></span></li>
                  <li><%= link_to "Checkout", checkout_path%></li>
                  <li><%= link_to "My Orders", orders_path%></li>
                  <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
</div>