<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= render 'layouts/header' %>


	
	<div class="wrap">
		<% flash.each do |key, value| %>	
  			<div class="alert alert-<%= key %> alert-dismissible"><%= value %></div>
		<% end %>
		<%= yield %>
	</div>


<%= render 'layouts/footer' %>
</div>
</body>
</html>
